/* -------------------------------- */
/*             VARIABLES            *
/* -------------------------------- */

/* ------ Colors ------ */

$color-black: #000000;
$color-black-lighter: #00000080;
$color-dark-darker: #00000033;
$color-dark: #32324680;
$color-grey: #ffffff80;
$color-grey-lighter: #ffffffbf;
$color-white: #FFFFFF;
$color-ash: #dadada;
$color-ash-darker: #909090;


/* ------ Media Queries ------ */

$tablet-width: 768px;
$mobile-width: 480px;