/* -------------------------------- */
/*            TYPOGRAPHY            *
/* -------------------------------- */

@import "../utils/mixins.scss";

.title {
    padding: 0 0 30px;
    font-weight: 700;
    font-size: 70px;
    color: $color-white;
    text-align: center;
    text-shadow: 5px 8px #{$color-dark-darker};

    @include mobile {
        font-size: 50px;
    }

    @include small-mobile {
        font-size: 35px;
    }
}

.text {
    margin: 10px 0 0 0;
    color: $color-white;
    font-size: 20px;
    text-align: center;
    
    @include mobile {
        margin: 40px 0 0 0;
        font-size: 16px;
    }
}