/* -------------------------------- */
/*              SEARCH              *
/* -------------------------------- */

@import "../../assets/styles/utils/variables.scss";
@import "../../assets/styles/utils/mixins.scss";

.search {
    width: 80%;
    margin: 0 auto 30px;

    @include mobile {
        width: 100%;
    }

    @include small-mobile {
        margin: 0 auto 15px; 
    }

    &__bar {
        display: block;
        width: 100%;
        margin: auto;
        padding: 15px;
        background: none;
        appearance: none;
        border: none;
        outline: none;
        background-color: $color-grey;
        border-radius: 15px;
        box-shadow: 0 5px $color-dark-darker;
        color: $color-black;
        font-size: 16px;
        font-weight: 300;
        transition: 0.4s ease;

        &:focus {
            background-color: $color-grey-lighter;
        }

        @include small-mobile {
            padding: 10px 15px;
        }
    }
}