/* -------------------------------- */
/*               FOOTER             *
/* -------------------------------- */

@import "../../assets/styles/utils/variables.scss";

.footer {
    width: 100%;
    font-size: 13px;

    &__top {
        display: flex;
        flex-direction: column;
        padding: 15px;
        background-color: $color-white;
        text-align: center;
        color: $color-ash-darker;

        p {
            margin: 0 0 10px;
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        margin: 10px 0 0;
    }

    &__link {
        margin: 0 5px;
        transition: all 0.2s ease-in-out;
    }

    &__link:hover {
        color: $color-black;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        background-color: $color-ash;
        color: $color-black;
    }
}